{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Edit CV</h2>
    <form method="post" enctype="multipart/form-data" action="">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ cv.name }}" required>
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <textarea class="form-control" id="address" name="address" >{{ cv.address }}</textarea>
        </div>
        <div class="form-group">
            <label for="phone_number">Phone Number</label>
            <input type="text" class="form-control" id="phone_number" name="phone_number" value="{{ cv.phone_number }}">
        </div>
        <div class="form-group">
            <label for="place">Place</label>
            <input type="text" class="form-control" id="place" name="place" value="{{ cv.place }}" required>
        </div>
        <div class="form-group">
            <label for="district">District</label>
            <select class="form-control" id="district" name="district" required>
                <option value="">Select a District</option>
                {% for key, value in districts %}
                    <option value="{{ key }}" {% if cv.district == key %}selected{% endif %}>{{ value }}</option>
                {% endfor %}
            </select>
        </div>
        
        
        <div class="form-group">
            <label for="education">Education</label>
            <input type="text" class="form-control" id="education" name="education" value="{{ cv.education }}" required>
        </div>
        <div class="form-group">
            <label for="experience">Experience</label>
            <textarea class="form-control" id="experience" name="experience" required>{{ cv.experience }}</textarea>
        </div>
        <div class="form-group">
            <label for="job_title">Job Title</label>
            <select name="job_title" class="form-control" required>
                {% for job_title in job_titles %}
                    <option value="{{ job_title.id }}" {% if cv.job_title.id == job_title.id %}selected{% endif %}>
                        {{ job_title.title }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="dob">Date of Birth</label>
            <input type="date" class="form-control" id="dob" name="dob" value="{{ cv.dob }}" >
        </div>
        <div class="form-group">
            <label for="remarks">Remarks</label>
            <textarea class="form-control" id="remarks" name="remarks">{{ cv.remarks }}</textarea>
        </div>
        <div class="form-group">
            <label for="cv_attachment">CV Attachment</label>
            <input type="file" class="form-control-file" id="cv_attachment" name="cv_attachment">
            <small>Current File: <a href="{{ cv.cv_attachment.url }}" target="_blank">View Current File</a></small>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
{% endblock %}
